/* --------------base style -------------*/

html {
  scroll-behavior: smooth;
  height: max-content;
  display: flex;  
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  clip-path: inherit;
  overflow-x: hidden;
  z-index: 1;

}

main{
  width: 100%;
  height: 100%;
  padding-top: 8rem;

}

body {
  background-color: #083d77;
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
  width: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  clip-path: inherit;
  overflow-x: hidden;

}

section {
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
a {
  display: flex;  
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0%;
  padding: 0%;
  overflow-wrap: normal;
  width: 100%;
}

a {
  transition: 0.2s;
  color: #FFF7E1;
  text-decoration: none;
  font: bold 1.4rem "Futura Bk BT", sans-serif;
  transition: all 1s ease-in-out;

}

h1,
h2 {
  font-size: 4rem;
  font-family: "Futura Bk Bt", sans-serif;
  color: #000;

}

h3,
h4 {
  font: bold 2rem "Futura Bk Bt", sans-serif;
  color: #ffffff;

}

p {
  font: bold 1.5rem "Futura Bk BT", sans-serif;
  color: #000000;
  padding: 3rem;
  line-height: 2rem;

}

/* paragraph alter */

#one{
  font-size: 1rem;
  font-family: "Futura Bk BT", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: .2rem;

}

/* paragraph alter end */

img {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

}

.bi {
   height: 10rem;

}

button[type='']{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}


input[type=email],
input[type=name],
input[type=text]{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: white;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

ul {
  display: block;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 25%;
  height: 25%;
  transition: all 1s ease-in-out;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

li a{
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  
}

button {
  width: 100%;
  height: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}







/* ------------end base style--------- */


/*------- flex-containers --------*/

#flex-container{
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

/* flex-container-hero */

.flex-container-hero{
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: auto;
  display: flex;
  flex-direction: column;

}

/* flex-container-featured */

.flex-container-featured{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  position: relative;

}

/* flex-container-resume */

.flex-container-resume{
  background: #CFBA7F;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;

}

.flex-container-resume img{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

/* flex-container-contact */

.flex-container-contact{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.flex-container-contact .bi img{
  display: flex;
  width: 100%;
  height: 100%;

}

/* flex-container-footer */

.flex-container-footer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.flex-container-social{
  height: 100%;
  width: 100%;
  display: flex;

}

/* ------------flex-containers end-------------- */


/* ----------------cards---------------- */

/* hero cards */

.card-hero{
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  z-index: 1;
   
}

.card-hero img{

  filter: drop-shadow( 0rem 0rem 3rem #ffffff);
  position: relative;
}

/* featured card */

.card-featured{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  z-index: 5;
  filter:drop-shadow(0rem 0rem 1rem rgb(255, 0, 0) )
}

.card-featured-buttons{
  display: flex;
  flex-direction: row;
  margin:0%;
  width: 100vw;
  height: 10rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  z-index: 5;
   
}

/* resume card */

.card-resume {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  z-index: 1;

}

.card-resumeList{

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}

.card-resumeIcon{
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 12rem;
  z-index: 2;

}

.card-resumeConcept{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 90%;
  max-width: 32rem;

}

.card-resumeConcept img{
  filter: drop-shadow(0 0 .2rem #251c03);
  z-index: 0;
}



.card-resumeList .bi {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  min-width: 4rem;
  max-width: 16rem;
  height: 8rem;
  filter: drop-shadow(0 0 1rem #251c03);
}

.card-resumeList .bi img{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 8rem;

}

#small {
  max-width: 8rem;
}

#medium {
  max-width: 16rem;
}

#large {
  max-width: 32rem;
}

/* contact card */

.card-contact{
  opacity: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  filter: drop-shadow(0rem 0rem 1rem rgb(255, 255, 255));

}

.card-contact-info{
  width: 50%;
  height: 50%;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

.card-contact img{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 32rem;
  height: 32rem;

}

 /* footer card */

 .card-footer-link{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}

.card-footer-link img{
  width: 50%;
  height: 50%;
 filter: drop-shadow(0rem 0rem .4rem rgb(255, 255, 255));

}

/*------------------- cards end -------------*/

/*-------# Preloader-----------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

/*-------# Preloader end----------------*/

/* ----------------header------------- */

#header {
  display: flex;
  transition: all 1s;
  width: 100%;

  z-index: 999;

}

.header {
  position: fixed;
  transition: all 1s;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 7rem;
  width: 100%;
  transition: transform .4s;
  border-bottom: solid;
  border-width: .7rem;
  background-color: #000811;
  border-color: #3f3212;
  box-shadow: 0rem 1px 3rem #000;

}

.scroll-up .header{
  transform: none;
}

.scroll-down .header{
  transform: translate3d(0, -100%, 0);
}

/* Header Navigation Style */


.topNav,
.topNav2,
.topNav3 {
  border-radius: 100% 100% 100% 100%;
  background-color: #000811;
  border-color: #746132;
  border-style: solid;
  border-width: .7rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.topNav2,
.topNav3 {
  box-shadow: 0rem 0rem .8rem #ffffff;

}

.circle,
.topNav{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: flex;

}

.topNav{
  width: 14rem;
  height: 14rem;
  box-shadow: 0rem 0rem 2rem #ffffff;
  z-index: 999;
 
}

.topNav2{
  height: 80%;
  width: 80%;


}

.topNav3{
  height: 75%;
  width: 75%;
  
}

img.bannerRotate{
  width: 16.5rem;

}

/* menu toggle */




.mainMenu {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}



button.menuToggle {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  border: none;
  background: none;
  animation: glow 10s linear infinite alternate;
  margin: 1rem;
  transition: all 1s ease-in-out;
}



button.menuToggle img{
  width: 6rem;
  height: 6rem;

}

.dropdown {

  opacity: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  transition: all 1s ease-in-out;
  flex-direction: column;
  filter: drop-shadow(0rem 0rem 1rem #000);
  margin: 1rem;
  pointer-events: none;
  background:0rem 0rem 1rem #000;

}

.dead{
  scale: 110%;
  transition: all 1s ease-in-out;
  animation: none;
}


.dropdown a.menuItem {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: all 1s ease-in-out;
  overflow: visible;
  width: 10rem;
  height: 10rem;
  filter: drop-shadow(0rem 0rem 1rem #000);
}

.dropdown a.menuItem:hover {
  scale: 110%;
  transition: all .5s ease-in-out;
  animation: glow 10s linear infinite alternate;

}

.dropdown a.menuItem img,
.dropdown a.menuItem p {
  grid-column: 1 / 1;
  grid-row: 1 / 1 ;

}

.dropdown a.menuItem img {
  background: none;
  width: 10rem;
  padding: 0rem;
}

.dropdown a.menuItem p {
  color: #fff;
  font-size: 1.2rem;
  padding: 0rem;
  width: 6rem;
}

.show {
  opacity: 1;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  transform: translateY(24rem);
}





/*----------------------- end header----------------- */


/*------------------# Back to top button--------------------*/


.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  scroll-behavior: smooth;
  right: 2.5%;
  bottom: 2%;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem 1rem 1rem 1rem;
  border: #746132;
  border-style: solid;
  border-width: .5rem;
  background: #010b16;
  transition: all 1s;
  filter: drop-shadow(0 0 1rem #251c03);
  
}



.back-to-top:hover {
  animation: glow 10s linear infinite normal;

}


/*-----------------# Hero Section-----------*/

#hero {
  width: auto;
  height: auto;
  background-size: cover;
  z-index: 1;
}

#hero h1 {
  font: bold 5rem "Futura Bk BT", sans-serif;

}

#hero h1.spill{

  padding-top: 2rem;
  padding-bottom: 2rem;

}

#hero h3.spill{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font: bold 5rem "Futura Bk BT", sans-serif;

}

/*-----------------# Hero Section end-----------*/

/*-----------------# Featured Section-----------*/

#featured {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background: #211C0E;
  box-shadow: 0rem 0rem 3rem rgb(0, 0, 0);
  z-index: 5;

}

#featured h1 {
  color: #ffffff;
  font: bold 3.5rem "Futura Bk Bt", sans-serif;
  letter-spacing: .7rem;
  margin-right: -.7rem;
  height: 10rem;
  display: flex;
  z-index: 950;

}



#featured h2 {
  color: #ffffff;
  text-align: center;
  font: bold 2rem "Futura Bk Bt", sans-serif;

}

.featured {
  width: 100%;
  box-shadow: 0rem 0rem 3rem rgb(0, 0, 0);
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

.featured img{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */ 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 1rem;
  border: .2rem solid #888;
  width: 90%;
  height: 90%;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  padding: 1rem 1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* featured carousel */ 

.scene {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  z-index: 997;
  padding: 1rem;


}

.carousel {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  display:flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;


}

.carouselCell {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;



}

.carouselCell h2 {
  padding: 1rem;
color: #fff;
font: bold 2rem "Futura Bk Bt", sans-serif;
}

.carouselCell img{

  width: 100%;
  height: auto;
  max-width: 1920px;
  max-height: 1080px;


}

.carouselCell:nth-child(3n+1) { 
  background: transparent;  

}
  
.carouselCell:nth-child(3n+2) { 
  background: transparent;  

}

.carouselCell:nth-child(3n+3) { 
  background: transparent; 

}

.carouselCell:nth-child(1) {
  transform: rotateY( 0deg) translateZ(20rem);
  
}
    
.carouselCell:nth-child(2) {
  transform: rotateY( 120deg) translateZ(20rem);
}

.carouselCell:nth-child(3) {
  transform: rotateY(240deg) translateZ(20rem); 
}

/* buttons */

.previous-button, 
.next-button {
  cursor: pointer;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  transition: 0.6s ease;
  display: flex;
  border: none;
  background: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  z-index: 999;
}

.previous-button img, 
.next-button img{
  width: 4rem;
  height: auto;

}

.previous-button img{
  transform: rotateY(180deg);

}

/*-----------------# Featured Section end-----------*/

/*-----------------# Resume Section-----------*/

#resume {
  height: 100%;
  width: 100%;

}

#resume h1,
#resume h2,
#resume h3 {
  font: bold 3rem "Futura Bk BT", sans-serif;
  

}

#resume h1,
#resume h2,
#resume h3 {
  padding: 1rem;
  height: 12rem;
}

#resume h1 {
  color: #000811;

}

#resume h2 {
  color: #000811;

}

#resume h3 {
  color: #000811;
  line-height: 5rem;
  text-decoration: underline double .4rem;
  text-underline-offset: .5rem;

}

#resume h4 {
  color: #000811;
  font: bold italic 3rem "Futura Bk BT", sans-serif;
  padding: 1rem;
  z-index: 1;
  width: 100%;
  text-shadow: -1px -1px 0 #8C7336, 1px -1px 0 #8C7336, -1px 1px 0 #8C7336, 1px 1px 0 #8C7336;
}

.resume {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}


#z0 {
  z-index: 5;
  filter: drop-shadow(0rem 0rem 1rem #000);

}

#z1 {
  z-index: 4;
  filter: drop-shadow(0rem 0rem 1rem #000);

}

#z2 {
  z-index: 3;
  filter: drop-shadow(0rem 0rem 1rem #000);

}

#z3 {
  z-index: 2;
  filter: drop-shadow(0rem 0rem 1rem #000);

}

#z4 {
  z-index: 1;
  filter: drop-shadow(0rem 0rem 1rem #000);

}


.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  filter: drop-shadow(0rem 0rem 3rem rgb(255, 255, 255));
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-1rem); }
  100% { transform: translateY(0); }
}

/*-----------------# Resume Section end-----------*/


/*-------------------# Contact Section------------*/

#contact{
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

#contact h1 {
  font: normal 4rem "Futura Bk BT", sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

#contact h2 {
  color: #FFF;
  font: bold 3rem "Futura Bk BT", sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

#contact p{
  height: 33%;
  padding: 0%;
  font: normal 1.5rem "Futura Bk BT", sans-serif;
  text-shadow: 0rem 0rem .5rem #000 ;

}


.map {
  z-index: 444;
  width: 100%;
  height: 35rem;
  padding: 0%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 0%;

}

.map iframe {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  box-shadow: 0rem 0rem 2rem rgb(0, 0, 0);
}

.php-email-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

.form-group {
  padding: 0%;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
}

.form-group input.form-control {
  width: 100%;
  height: 3rem;
  text-align: center;
  border-style: solid;
  border-radius: .5rem;
  border-width: .6rem;
  border-color: #746132;
  background-color: #000811;
  color: #fff;
  font: bold 1.5rem "Futura Bk BT", sans-serif;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 0;
  font-weight: 600;
}


.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 0;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;

}

.php-email-form .loading:before {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.animate-loading {
  display: block;
  position: relative;
  background-image: url(../img/MenuStar.svg);
}

textarea {
  background-color: #CFBA7F;
  border-style: solid;
  border-width: .6rem;
 
  border-color: #746132;
  background-color: #000811;
  color: #fff;
  font: bold 1.5rem "Futura Bk BT", sans-serif;
  resize: none;
  height: 10rem;
  width: 100%;
  text-align: center;

  
     
}

.php-email-form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;


}

.php-email-form textarea input:focus,
.php-email-form input:focus {
  animation: glow  2.5s infinite alternate;
}

.php-email-form input {
  max-width: 100%;
  max-height: 100%;
}



.php-email-form .form-group button[type=submit] {
  background-color: #000811;
  border-style: solid;
  border-width: .6rem;
  border-color: #746132;
  width: 8rem;
  height: 4rem;
  margin: 2rem;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: .5rem;
  z-index: 0;
}

.php-email-form button[type=submit]:hover {
  animation: glow  2.5s infinite alternate;
  z-index: 0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*-------------------# Contact Section end------------*/

/*--------------- footer ----------------*/

#footer {
  width: 100%;
  height: auto;
  font-size: 1rem;
  background: #867C61;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}


.footer-bottom {
  height: 10rem;

}


.footer-top {
  background: #211C0E;
  box-shadow: 0rem 0rem 2rem #000000;
  font: normal 1.5rem "Futura Bk BT", sans-serif;
  z-index: 7;
  display: flex;
  flex-direction: column;

}


.footer-top .footer-links ul {
  list-style: none;
  width: 100%;

}



.footer-top .footer-links ul li {
  padding: .8rem;

}



.footer-top .footer-links ul a {
  color: #faffdc;
  transition: 0.3s;

}

.footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .social-links{
  padding:1rem;
}

#footer .social-links a {

  font: bold 2rem "Futura Bk BT", sans-serif;
  text-decoration: none;
  display: flex;
  background: #083D77;
  color: #fff;
  border-radius: .4rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 4rem;
  height: 4rem;
  transition: 0.3s;
  
}

#footer .social-links a:hover {
  background: #FFF7E1;
}


/*-------------------# Footer Section end------------*/


 /*----------------------- animations-----------------------------*/

 /* glow effect */

.glow {
  animation: glow  2.5s infinite alternate;
  opacity: 1;

}

@keyframes glow {
  from {
    filter: drop-shadow( 0 0 .2rem #fff) drop-shadow( 0 0 1rem  #f5c782)  drop-shadow( 0 0 .2rem #e6d700);
  }
  to {
    filter: drop-shadow( 0 0 .4rem #fff) drop-shadow( 0 0 1rem  #00e6ad)  drop-shadow( 0 0 .2rem #e60073);
  }
}

@keyframes glowRotate {

  from {
    transform: translateY(0rem) rotate(0deg);
  }

  to {
    transform: translateY(-2rem) rotate(359deg);
  }
}

/* space debris */

.bannerRotate {
  animation: bannerRotate 340s  reverse infinite linear;
}

@keyframes bannerRotate {

  from {
    transform: rotate(0deg)
  }

  to{
    transform: rotate(359deg);
  }
}

/* text effect */

.spill {
  --bg-size: 400%;
  --color-one: hsl(227, 100%, 59%);
  --color-two: hsl(50, 100%, 61%);
  --color-three: hsl(0, 100%, 65%);
  --color-one: hsl(227, 100%, 59%);
  font-size: 6rem;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-one)
    )

    0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
}

@media (prefers-reduced-motion: no-preference) {

  .spill {
    animation: move-bg 30s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

 /*----------------------- animations end-----------------------------*/


  /*-----------------------tablet sizing-----------------------------*/


@media only screen and (min-width: 768px) {
  .card-hero img{
    width: 100%;

  }

  .carousel {
    
    width: 50%;
    /* height: 100%; */
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}


  .flex-container-footer{
    flex-direction: row;
    justify-content: space-evenly;

  }

}

  /*-----------------------tablet sizing end-----------------------------*/

  
  /*-----------------------desktop sizing-----------------------------*/

@media only screen and (min-width: 1200px) {

  /* menu toggle desktop*/

  
  


  .carouselCell:nth-child(1) {
    transform: rotateY( 0deg) translateZ(25rem); }
       
  .carouselCell:nth-child(2) {
    transform: rotateY( 120deg) translateZ(25rem); }
    
  .carouselCell:nth-child(3) {
    transform: rotateY( 240deg) translateZ(25rem); }
    
  .carousel {
    
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
      
    }

 

  .form-group {
    padding: 0%;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
      
  }

  .previous-button, 
  .next-button {
    cursor: pointer;
    width: 100%;
    height: auto;

  }

 #work {
    width: 100%;
    height:80rem;

  }

  .flex-container-hero{
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .form-group {
  
    width: 30%;

    
  }

  .flex-container-footer{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

  /*-----------------------desktop sizing end-----------------------------*/
