


body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2{
  font-family: "Futura Bk", sans-serif;
  text-align: center;
  color: #000;
  margin: 0%;
 
}
h3,
h4,
h5,
h6 {
  font-family: "Futura Bk", sans-serif;
  text-align: center;
  margin: 0%;
}

p{
  font-family: "Futura Bk BT", sans-serif;
  color: #000;
  margin: 0%;

}

.spill {
  --bg-size: 400%;
  --color-one: hsl(227, 100%, 59%);
  --color-two: hsl(50, 100%, 61%);
  --color-three: hsl(0, 100%, 65%);
  font-size: 6rem;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
    animation-duration: infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}


#one{
  font-size: 16px;
  text-align: center;
  font-family: "Futura Bk BT", sans-serif;
  color: #000;

}

#two{
  font-family: "Futura Bk BT", sans-serif;
  color: #000;
  padding: 5%;
  font-size: 28px;
}

#three{
  font-family: "Futura Bk BT", sans-serif;
  color: #000;

}


.bounce{
  width: inherit;
  height: inherit;
}

.img-carousel{
  width: 50%;
  height: 50%;
}

.flex-container-hero{

  height: 100%;
  width: auto;
  margin: 0%;
  padding: 1%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
}

.flex-container-menu{
  height: inherit;
  width: inherit;
  display: flex;
  align-content: center;
  justify-content: right;
}

.flex-container-featured{

  height: 100%;
  width: auto;
  margin: 0%;
  padding: 1%;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
}

.flex-container-row{

 
  height: 100%;
  width: auto;
  margin: 0%;
  padding: 1%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
  flex-direction: row;
}

.flex-container-footer{

  height: 100%;
  width: auto;
  margin: 0%;
  padding: 1%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
}

.flex-container-social{

  overflow: auto;
  height: 100%;
  width: auto;
  margin: 0rem 15rem;
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.card{
  display: flex;
  padding: 1%;
  align-content: center;
  justify-content: center;
}

.card-featured{
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-content: center;
  justify-content: center;

  
}

.card-hero{
  display: flex;
  flex-direction: column;
  flex: 0 1 48%;
  padding: 1%;
  align-content: center;
  justify-content: center;
  
}

.card-footer-link{
  display: flex;
  flex-direction: column;

  padding: 1%;
  align-content: center;
  justify-content: center;
  
}


@media (max-width: 480px) {
  .flex-container-footer{
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .flex-container-row{
    flex-direction: column;
  }
}

.img {
  object-fit: cover;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/



.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3rem;
  max-height: 3rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  transition: all 0.4s;
  filter: drop-shadow(0px 3px 15px 3px rgb(0, 0, 0));
}



.back-to-top:hover {
  background: hwb(41 81% 13%);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  position: fixed;
  opacity: 1;
  height: 14rem;
  width: inherit;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.flex-container-menu ul {
  padding: 0;
  margin: 0; 
}

.flex-container-menu input{
  margin: 0%;
  padding: 0%;
}

.circlenav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.circlenav ul{
  display: flex;
  justify-content: center;
  align-items: center;

}

.circlenav li{

  list-style-type: disc;

}

.menu-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor:pointer;
  opacity: 1;
  height: 132px;
  width: 132px;
  border-radius: 100%;
  display:flex;
  padding: 0;
}

input.menu-toggler [type="button" i] {
  height: 132px;
  width: 132px;
  border-radius: 100%;
  display:flex;
  padding: 0;
}


input.menu-toggler:checked{
  height: 132px;
  width: 132px;
  border-radius: 100%;
  display:flex;
  padding: 0;
  box-shadow: 5px 5px 5px #000;
}

.menu-toggler:hover + label,
.menu-toggler:hover + label:before,
.menu-toggler:hover + label:after{
  background: white;
}
.menu-toggler:checked + label {
  background: transparent;
}
.menu-toggler:checked + label:before,
.menu-toggler:checked + label:after{
  top:0;
  width:40px;
  transform-origin: 50% 50%;
}
.menu-toggler:checked + label:before {
  transform: rotate(45deg) translateY(-15px) translateX(-15px);
}
.menu-toggler:checked + label:after {
  transform: rotate(-45deg);
}
.menu-toggler:checked ~ ul .menu-item { 
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(60deg) translate(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(0deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(300deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(240deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item a {
  pointer-events:auto;
}

.menu-item {
  position: absolute;
  display: flex;
  border-radius: 100%;
  margin: 0%;
  padding: 0%;
  width: 5rem;
  height: 5rem;
  opacity: 0;
  transition: 0.5s;
  background-color: #083DD7;
}

.menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: inherit;
  height: inherit;
  font-size: 1.4rem;
  transition: 0.2s;
  color: rgb(126, 18, 18);
  font-family: "Futura Md BT", sans-serif;
}

.menu-item a:hover {
  color: white;
  font-size: 4rem;
}

.glow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow( 0 0 2px #fff) drop-shadow( 0 0 .1rem #f5c782) drop-shadow( 0 0 .2rem #e6d700);
  }

  to {
    
    filter: drop-shadow( 0 0 10px #fff) drop-shadow( 0 0 .1rem #00e6ad) drop-shadow( 0 0 .2rem #e60073);
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: auto;
  height: auto;
  background-size: cover;
  background-color: #FFF7E1;
}

#featured {
  font-size: 48px;
  background-color: #211C0E;
  height: 100vh;
  width: auto;
  text-align: center;
}

#hero:before {
  background: #FFF7E1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  outline-color: #000;
  font-family: "Futura", sans-serif;
  background-color: #FFF7E1;
}

#hero h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 5rem;
}



@media (max-width: 992px) {
  #hero {
    height: auto;
    width: auto;
  }

  #hero h1 {
    font-size: 28px;

  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section {
  overflow: none;
  max-width: inherit;
}



.section-title {
  text-align: center;
  padding-bottom: 5%;
}






/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact{

  padding: 5%;
  background: #FFF7E1;
  justify-content: center;
}

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  color: #2487ce;
  float: left;
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  font-size: 22px;
  font-weight: 600;
  color: #124265;
}

.contact .info p {
  padding: 1%;
  margin-bottom: 0;
  font-size: 14px;
  color: #217bbc;
}


.contact .info .email,
.contact .info .location,
.contact .info .phone {
  padding: 5%;
}

.contact .info .email:hover i,
.contact .info .location:hover i,
.contact .info .phone:hover i {
  background: #2487ce;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  justify-content: center;

}

.contact .php-email-form .form-group {
  padding: 1%;
  text-align: center;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

textarea {
  justify-content: center;
  width: 45%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #2487ce;
}

.contact .php-email-form input {
  max-width: 100%;
  max-height: 100%;
}

.contact .php-email-form textarea {
  padding: 2%;

}

.contact .php-email-form button[type=submit] {
  background: #083DD7;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0px 0px 6px 6px;

}

.contact .php-email-form button[type=submit]:hover {
  background: 44px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
}

.bi{
  width:20px;
  height: 20px;
  background: blue;
}



@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #1a5e90;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 16px;
  background: #867C61;

}

#footer .footer-top {
  background: #211C0E;
  box-shadow: 0px 15px 20px -15px #111;
}

#footer .footer-bottom {
  padding: 0%;
  margin: 0%;
}


#footer .footer-top {
  font-size: 24px;
  margin-bottom: 0%;
  font-family: "Futura Bk BT", sans-serif;
  color: #000;
}

#footer .footer-top {
  margin-bottom: 0%;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #2487ce;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 2%;
  display: flex;

  align-content: center;
  justify-content: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 2%;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: flex;
  background: #083D77;
  color: #fff;
  line-height: 1;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #FFF7E1;
}

/* carousel */ 

.Cimage {
  height: auto;
  width: auto;
  padding: 1%;
  display: flex;
  grid-template-rows: 33vh 33vh 33vh;
  grid-template-columns: 1fr 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;

}

.carousel {
  grid-row: 2/ 3;
  grid-column: 3/ 5;
  padding: 1%;
  margin: 0%;
  display: flex;
  text-align: center;
  overflow: auto;
  perspective: 100rem;
  --items: 3;
  --middle: 3;
  --position: 3;
  pointer-events: visibleFill;

}

.prev, .next {
  grid-row: 2/ 3;
  grid-column: 3/ 5;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

div.Citem {
  position: absolute;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}


div.Citem:nth-of-type(1) {
  --offset: 1;
}
div.Citem:nth-of-type(2) {
  --offset: 2;
}
div.Citem:nth-of-type(3) {
  --offset: 3;
}


input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}
input:nth-of-type(1):checked ~ div.carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
}
input:nth-of-type(2):checked ~ div.carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 3 / 3;
}
input:nth-of-type(3):checked ~ div.carousel {
  --position: 3;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-image: url("../../assets/img/Breadcrumb_Normal.png");
}

.activedot, .dot:hover {
  background-image: url("../../assets/img/Breadcrumb_Lit.png");
}





